<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Cette fonction doit prendre en entrée un nombre entier non négatif et retourner la factorielle de ce nombre. La factorielle d'un entier non négatif <b>n</b> est le produit de tous les entiers positifs inférieurs ou égaux à <b>n</b>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}factorial.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment l'utiliser:</strong>
    <ul>
        <li><i>dans les applications mathématiques pour calculer les permutations et les combinaisons;</i></li>
        <li><i>dans les algorithmes pour résoudre les problèmes liés au comptage des arrangements.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li><i>n ∈ N₀</i></li>
    </ul>
</p>
