<!-- Describe task in general -->

<p>
    Diese Funktion sollte eine nicht-negative ganze Zahl als Eingabe annehmen und die Fakultät dieser Zahl zurückgeben. Die Fakultät einer nichtnegativen ganzen Zahl <b>n</b> ist das Produkt aller positiven ganzen Zahlen, die kleiner oder gleich <b>n</b> sind. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}factorial.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Integer <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Wie es verwendet wird:</strong>
    <ul>
        <li><i>in mathematischen Anwendungen zur Berechnung von Permutationen und Kombinationen;</i></li>
        <li><i>in Algorithmen zur Lösung von Problemen im Zusammenhang mit dem Zählen von Anordnungen.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <ul>
    <li><i>n ∈ N₀</i></li>
    </ul>
</p>
