<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Ta funkcja powinna przyjmować nieujemną liczbę całkowitą jako dane wejściowe i zwracać czynnik tej liczby. Mnożnik nieujemnej liczby całkowitej <b>n</b> jest iloczynem wszystkich dodatnich liczb całkowitych mniejszych lub równych <b>n</b>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}factorial.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Jak jest używany:</strong>
    <ul>
        <li><i>w aplikacjach matematycznych do obliczania permutacji i kombinacji;</i></li>
        <li><i>w algorytmach do rozwiązywania problemów związanych z liczeniem układów.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <ul>
    <li><i>n ∈ N₀</i></li>
    </ul>
</p>
